/* Write your CSS here */
.list-item {
  color: #c7d2fe;
  background-color: #585076;
  border: solid 2px #c7d2fe;
  padding: 20px;
  border-radius: 5px;
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-weight: bold;
  font-size: 18px;
}
.list-item-container{
  list-style-type: none;
}
